{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Edit Product</h2>

<form method="POST" class="card p-4 shadow-sm">

  <div class="mb-3">
    <label class="form-label">Product Name</label>
    <input class="form-control" name="name" value="{{ product.name }}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">MRP</label>
    <input class="form-control" type="number" name="mrp" value="{{ product.mrp }}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Selling Price</label>
    <input class="form-control" type="number" name="price" value="{{ product.price }}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Stock</label>
    <input class="form-control" type="number" name="stock" value="{{ product.stock }}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Image URL</label>
    <input class="form-control" name="image" value="{{ product.image }}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description" rows="3">{{ product.description }}</textarea>
  </div>

  <button class="btn btn-primary">Update Product</button>
  <a href="/admin/dashboard" class="btn btn-secondary ms-2">Cancel</a>

</form>

{% endblock %}
