{% extends "base.html" %}
{% block content %}

<h3>Your Cart</h3>

{% if items %}
<table class="table">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th>Price</th>
  </tr>

  {% for item in items %}
<tr>
  <td>{{ item.product.name }}</td>

  <td>
    <form action="/update-cart/{{ item.id }}" method="POST" style="display:flex;">
      <input type="number" name="quantity"
             value="{{ item.quantity }}"
             min="1"
             max="{{ item.product.stock }}"
             class="form-control w-50">
      <button class="btn btn-sm btn-primary ms-2">Update</button>
    </form>
  </td>

  <td>₹{{ item.product.price * item.quantity }}</td>

  <td>
    <a href="/remove-from-cart/{{ item.id }}"
       class="btn btn-sm btn-danger">
       Remove
    </a>
  </td>
</tr>
{% endfor %}
</table>

<h4>Total: ₹{{ total }}</h4>

<form action="/checkout" method="POST">
  <button class="btn btn-dark">Dummy Checkout</button>
</form>

{% else %}
<p>Your cart is empty</p>
{% endif %}

{% endblock %}
