{% extends "base.html" %}

{% block content %}

<div class="product-grid">

  {% for saree in sarees %}
  <div class="product-card">

    <a href="/product/{{ saree.id }}">
      <img src="{{ saree.image }}" class="product-img">
    </a>

    <div class="product-info">
      <h6>{{ saree.name }}</h6>
      <p class="price">₹{{ saree.price }}</p>
      <p class="stock">Stock: {{ saree.stock }}</p>

      <form action="/add-to-cart/{{ saree.id }}" method="POST">
        <button class="btn-buy">Add to Cart</button>
      </form>

      {% if current_user.is_authenticated and current_user.is_admin %}
      <form action="/admin/update-stock/{{ saree.id }}" method="POST">
        <input type="number" name="stock" value="{{ saree.stock }}">
        <button>Update Stock</button>
      </form>
      {% endif %}

    </div>

  </div>
  {% endfor %}

</div>

{% endblock %}
