{% extends "base.html" %}

{% block content %}
<div class="row g-4">

{% for saree in sarees %}
<div class="col-md-3">
  <div class="product-card">

    <a href="/product/{{ saree.id }}">
      <img src="{{ saree.image }}" class="product-img">
    </a>

    {% if saree.stock <= 3 %}
      <span class="stock-badge">Only {{ saree.stock }} left</span>
    {% endif %}

    <div class="p-3">
      <h6 class="product-name">{{ saree.name }}</h6>

      <div class="price-box">
        <span class="sale-price">₹{{ saree.price }}</span>
        <span class="mrp">₹{{ saree.mrp }}</span>
        <span class="discount">
          {{ ((saree.mrp - saree.price) * 100 // saree.mrp) }}% OFF
        </span>
      </div>

    </div>
  </div>
</div>
{% endfor %}

</div>
{% endblock %}
